<div class='thumbnail'>
  <%= link_to image_tag(image_url), business.url, class: 'restaurant-image' %>
  <div class='caption'>
    <%= link_to business.name, business.url, class: 'restaurant-link' %>
  </div>
</div>