<section class='home col-sm-8 col-sm-offset-2'>
  <h1 class='text-center'>C-C-C-Combo Breaker!</h1>

  <% if signed_in? %>

    <%= render 'home/search_form' %>

  <% else %>

    <p>Please sign in or register at the top.</p>

  <% end %>
</section>