<p>Tonight, you are having:</p>

<h2 class='cuisine'><%= @cuisine[0] %></h2>

<p>Be thankful.</p>

<p>
  Also, here's some restaurants tagged
  <span class='cuisine-inline'><%= @cuisine[0] %></span>
  in your area:
</p>

<ul class='restaurant-list'>
  <% @businesses.each do |business| %>
    <li class='restaurant-listing'>
      <%= image_tag business.image_url, class: 'restaurant-image' %>
      <%= link_to business.name, business.url %>
    </li>
  <% end %>
</ul>