<section class='search-results'>
  <p>Tonight, you are having:</p>

  <h2 class='cuisine'><%= @cuisine %></h2>

  <p>Be thankful.</p>

  <p>
    Also, here are some restaurants tagged
    <span class='cuisine-inline'><%= @cuisine %></span>
    in your area:
  </p>

  <div class='restaurant-list row'>
    <% @businesses.each do |business| %>
      <div class='restaurant-listing col-sm-6 col-lg-3'>
        <% if business.respond_to?(:image_url) %>
          <%= render partial: 'home/restaurant_thumbnail', locals: { business: business, image_url: business.image_url } %>
        <% else %>
          <%= render partial: 'home/restaurant_thumbnail', locals: { business: business, image_url: 'http://placehold.it/100x100' } %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>