<section class='col-sm-8 col-sm-offset-2'>

  <div class="text-center">
  <p>Tonight, you are having:</p>

  <h1><%= @cuisine %></h2>

  <p>Be thankful.</p>

  <p>
    Also, here are some restaurants tagged
    <span><%= @cuisine %></span>
    in your area:
  </p>
  </div>

  <div class='row'>
    <% @businesses.each do |business| %>
      <div class='col-sm-6 col-lg-3'>
        <% if business.respond_to?(:image_url) %>
          <%= render partial: 'home/restaurant_thumbnail', locals: { business: business, image_url: business.image_url } %>
        <% else %>
          <%= render partial: 'home/restaurant_thumbnail', locals: { business: business, image_url: 'http://placehold.it/100x100' } %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>