/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


// Customization

// colorbrewer:

// main stuff: we have
// text
// background
// links
// form-bgs

// $combo-breaker-light-blue: #a6cee3;
// $combo-breaker-blue: #1f78b4;
// $combo-breaker-light-green: #b2df8a;
// $combo-breaker-green: #33a02c;



$body-bg: #3499DB;
$text-color: #FFF;
$link-color: #FE8E00;
// $input-bg: #FFB659;
$btn-default-bg: #FFA330;
// $btn-default-color:
// $btn-default-border:

@import "bootstrap-sprockets";
@import "bootstrap";

// App-wide styles

.application-container {
  @extend .container;
}

// Header styles

.header {
  @extend .row;
}

// Topbar styling

.topbar {
  @extend .navbar;
  @extend .navbar-default;
}

.topbar-container {
  @extend .container-fluid;
}

.topbar-links {
  @extend .nav;
  @extend .navbar-nav;
  @extend .navbar-right;
}

.welcome-text {
  @extend .navbar-text;
}

.home-link,
.signout-link,
.edit-profile-link,
.register-link,
.signin-link {

}

// Content styles

.content {
  @extend .row;
}

// Footer styles

.footer {
  @extend .row;
}

// Form styling

.form-label {
  @extend .col-sm-3;
}

.form-field {
  @extend .col-sm-9;
}